<div class="card">
  {{!-- {{#if @img}}
    <img class="card-img-top" src="..." alt="Card image cap">
  {{else}}
    <img class="card-img-top" src="https://loremflickr.com/cache/resized/65535_50627945193_8d481f8aff_n_320_240_g.jpg" alt={{@title}}>
  {{/if}} --}}
  <div class="card-header">
    <div class="form-check float-left">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" disabled checked={{@model.isPaid}}>
      <label class="form-check-label" for="defaultCheck1">
        Paid
      </label>
    </div>
    {{#if @model.isPaid}}
      <span class="float-right">{{moment-format @model.datePaid 'MMMM DD YYYY'}}</span>
    {{/if}}
  </div>
  <div class="card-body">
    <LinkTo @route="recipe" @model={{@model.id}}><h5 class="card-title">{{@model.title}}</h5></LinkTo>
    <p class="card-text">{{@model.description}}</p>
    {{#if @isBill}}
      <span><b>P {{@model.amount}}</b></span>
    {{/if}}
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-danger float-right" onclick={{action "deleteItem" @model.id @type}}><FaIcon @icon="times" /></button>
    <button type="button" class="btn btn-success float-right mr-2" onclick={{action "editItem" @model @type}}><FaIcon @icon="pen" /></button>
  </div>
</div>