<div class="row mb-5">
  <div class="col-md-12">
    <h2>Bills</h2>
    <button type="button" class="btn btn-primary float-right" onclick={{action "showModalWithForm"}}>Add Bill</button>
    <button type="button" class="btn btn-success float-right mr-2">Monthly Report</button>
  </div>
</div>

<div class="row">
  {{#each @model as |bill|}}
    <div class="col-md-4 mb-3">
      <Card @model={{bill}} @type="bill" @isBill={{true}} @showModalWithForm={{showModalWithForm}}/>
    </div>
  {{/each}}
</div>

{{outlet}}