<div class="row pb-2">
  <h2 class="display-block mb-2">{{@model.title}}</h2>
  <p class="w-100">{{@model.description}}</p>
</div>

<div class="row">  
  <button type="button" class="btn btn-primary float-left" onclick={{action "showRecipes"}}>Show Recipes</button>
  <button type="button" class="btn btn-success float-left ml-2" title="add a recipe to this menu" onclick={{action "addRecipes"}}>Add Recipes</button>
  <button type="button" class="btn btn-primary float-left ml-2" onclick={{action "generateGroceryList"}}>Generate Grocery List</button>
</div>

<div class="row mt-2 mb-5 bg-light">
  {{#each allRecipes as |recipe|}}
    <div class="badge badge-rounded display-inline text-white bg-success p-2 m-2 cursor-pointer hover-opacity" onclick={{action "addRecipe" recipe}}>
      <FaIcon @icon="plus" />
      {{recipe.title}}
    </div>
  {{/each}}
</div>

<div class="row">
  {{#each recipes as |recipe index|}}
    <div class="col-md-6 mb-1">
      <Row @model={{recipe}} @elementId={{index}} @type="recipe" @showModalWithForm={{showModalWithForm}} @removeAction={{this.removeRecipe}} />
    </div>
  {{/each}}
</div>

{{#if ingredients}}
  <div class="row pb-2 mt-5">
    <h2 class="display-block mb-2">Grocery List</h2>
  </div>
  <div class="row mt-2">
    {{#each ingredients as |ingredient index|}}
      <div class="col-md-6 mb-1">
        <SimpleRow @model={{ingredient}} @elementId={{index}} @type="recipe" @showModalWithForm={{showModalWithForm}} @removeAction={{this.removeGroceryItem}} />
      </div>
    {{/each}}
  </div>
{{/if}}
