<div class="row pb-2">
  <h2>{{@model.title}}</h2>
  <p class="w-100">{{{@model.description}}}</p>
</div>

<div class="row">  
  {{!-- <button type="button" class="btn btn-primary float-left" onclick={{action "showIngredients"}}>Show Ingredients</button> --}}
  <button type="button" class="btn btn-success float-left ml-2" title="add a recipe to this menu" onclick={{action "addIngredients"}}>Add Ingredients</button>
</div>

<div class="row mt-2 mb-5 bg-light">
  {{#each allIngredients as |ingredient|}}
    <div class="badge badge-rounded display-inline text-white bg-success p-2 m-2 cursor-pointer hover-opacity" onclick={{action "addIngredient" ingredient}}>
      <FaIcon @icon="plus" />
      {{ingredient.title}}
    </div>
  {{/each}}
</div>

<SubItemList @recipeModel={{this.model}} @type="ingredient" @showModalWithForm={{this.showModalWithForm}} @removeAction={{this.removeIngredient}} />
